[Desktop Entry]
Type=Application
Name=TRYX Panorama Manager
Name[ru]=Менеджер TRYX Panorama
Comment=Manage TRYX Panorama cooler displays
Comment[ru]=Управление дисплеями систем охлаждения TRYX Panorama
Exec=tryx-panorama-manager
Icon=tryx-panorama
Terminal=false
StartupNotify=true
Categories=Settings;HardwareSettings;
